@import '../../styles/variables.scss';

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-bg;
  color: $main-color;
  // background-color: red;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }

  .texts {
    display: flex;
    align-items: center;
    gap: 14px;

    span {
      font-size: 14px;
    }

    span:hover {
      color: rgb(239, 206, 206);
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .notification {
      position: relative;
      span {
        height: 18px;
        width: 18px;
        position: absolute;
        top: -11px;
        right: -11px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
